.formContainer {
  padding: 10px 25px;
  height: 80vh;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  .box {
    width: 90%;
    max-width: 320px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 3px solid rgb(12, 105, 48);
    box-shadow: 3px 3px 18px 5px rbga(133, 211, 163, 0.75);
    -webkit-box-shadow: 3px 3px 18px 5px rgba(90, 39, 39, 0.75);
    .image {
      margin: 10px 0;
      height: 150px;
      width: 150px;
      background: #228b2d;
      padding: 3px;
      border-radius: 50%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    p {
      justify-content: center;
      margin-top: 8px;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .name {
    margin: 10px 0 3px 0;
    font-size: 18px;
    color: #228b2d;
    font-weight: 600;
  }
}
